TABLE.lt-table,TD.lt-cell,TD.lt-head,TD.lt-filter { border: solid rgb(230,230,230) 1px; border-collapse: collapse; }
TD.lt-cell,TD.lt-head,TH.lt-title { padding: 5px; }
TH.lt-title { font-size: 14px; line-height: 1em; }
TD.lt-head { min-width: 2.5rem; font-weight: bold; }
DIV.lt-subhead { font-weight: normal; font-size: small; }
TR.lt-row { transition: background 2s; }
TD.lt-cell { white-space: pre-wrap; transition: background 2s; }
TD.lt-numeric { text-align: right; }
TD.lt-sum { font-weight: bold; }
TD.lt-unused { background-color: rgb(200,200,200); }

TD.lt-sort { position: relative; }
TD.lt-sort::after { position: absolute; top: 0; right: 0; bottom: 0; width: 1rem; padding: 0.4rem 0.3rem 0.2rem 0.2rem; background-color: white; box-shadow: -0.3rem 0 0.3rem 0 white; cursor: pointer; }
TR:hover TD.lt-sort::after { content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="m 28.5,85 c -4,0 -7,-3 -7,-8 V 8 c 0,-4 3,-8 7,-8 4,0 7,3 7,8 v 68 c 0,4 -3,8 -7,8 z" fill="lightgrey"/><path d="M 29,100 1.5,72 c -2,-2 -2,-6 0,-8 2,-2 6,-2 8,0 L 29,83 47,65 c 2,-2 6,-2 8,0 2,2 2,6 0,8 z" fill="lightgrey"/><path d="m 70.5,14 c 4,0 7,3 7,8 v 70 c 0,4 -3,8 -7,8 -4,0 -7,-3 -7,-8 V 23 c 0,-4 3,-8 7,-8 z" fill="lightgrey"/><path d="M 70,0 98.5,26 c 2,2 2,6 0,8 -2,2 -6,2 -8,0 L 70,16 51,34 c -2,2 -6,2 -8,0 -2,-2 -2,-6 0,-8 z" fill="lightgrey"/></svg>'); }
TR.lt-row TD.lt-sorted-asc::after { content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="m 28.5,85 c -4,0 -7,-3 -7,-8 V 8 c 0,-4 3,-8 7,-8 4,0 7,3 7,8 v 68 c 0,4 -3,8 -7,8 z" fill="lightgrey"/><path d="M 29,100 1.5,72 c -2,-2 -2,-6 0,-8 2,-2 6,-2 8,0 L 29,83 47,65 c 2,-2 6,-2 8,0 2,2 2,6 0,8 z" fill="lightgrey"/><path d="m 70.5,14 c 4,0 7,3 7,8 v 70 c 0,4 -3,8 -7,8 -4,0 -7,-3 -7,-8 V 23 c 0,-4 3,-8 7,-8 z"/><path d="M 70,0 98.5,26 c 2,2 2,6 0,8 -2,2 -6,2 -8,0 L 70,16 51,34 c -2,2 -6,2 -8,0 -2,-2 -2,-6 0,-8 z"/></svg>') }
TR.lt-row TD.lt-sorted-desc::after { content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="m 28.5,85 c -4,0 -7,-3 -7,-8 V 8 c 0,-4 3,-8 7,-8 4,0 7,3 7,8 v 68 c 0,4 -3,8 -7,8 z"/><path d="M 29,100 1.5,72 c -2,-2 -2,-6 0,-8 2,-2 6,-2 8,0 L 29,83 47,65 c 2,-2 6,-2 8,0 2,2 2,6 0,8 z"/><path d="m 70.5,14 c 4,0 7,3 7,8 v 70 c 0,4 -3,8 -7,8 -4,0 -7,-3 -7,-8 V 23 c 0,-4 3,-8 7,-8 z" fill="lightgrey"/><path d="M 70,0 98.5,26 c 2,2 2,6 0,8 -2,2 -6,2 -8,0 L 70,16 51,34 c -2,2 -6,2 -8,0 -2,-2 -2,-6 0,-8 z" fill="lightgrey"/></svg>') }

TD.lt-filter { position: relative; width: min-content; }
TD.lt-filter INPUT { width: 100%; }
TR:hover TD.lt-filter::after { position: absolute; top: 0.25em; right: 0.25em; width: 1em; content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" fill="grey"><path d="m 996.62938,29.90666 c 17.61522,37.053639 -23.14952,59.79366 -43.83148,83.55381 -105.19853,105.19854 -210.39707,210.39708 -315.59561,315.59562 -0.28944,177.72611 0.57892,355.48724 -0.43423,533.19146 -5.38617,45.19915 -67.93473,48.56155 -88.83006,12.74076 -58.29498,-59.03809 -118.15022,-116.64816 -175.44794,-176.59899 -13.96785,-31.35365 -5.02927,-67.47068 -7.56643,-101.11219 0,-89.40701 0,-178.81403 0,-268.22104 C 246.83883,310.76917 128.34344,192.88081 10.516144,74.343924 -16.219582,42.322545 19.596547,-7.3901382 58.686319,2.3417558 359.75721,2.6278057 660.8623,1.7696628 961.91182,2.7708117 977.6662,4.1481828 990.89539,15.466385 996.62938,29.90666 Z"/></svg>'); }

TD.lt-cell DIV.lt-div { margin: 10px 10px; }
TD.lt-edit { position: relative; height: 20px; }
TR:hover TD.lt-edit:not(.lt-editing)::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="green"><path d="m422.95 176.02c0.549-0.48 1.09-0.975 1.612-1.498l21.772-21.772c12.883-12.883 12.883-33.771 0-46.654l-40.434-40.434c-12.883-12.883-33.771-12.883-46.653 0l-21.772 21.772c-0.523 0.523-1.018 1.064-1.498 1.613l86.97 86.969z"/><polygon points="114.32 397.68 157.32 440.68 106.66 448.34 56 456 63.658 405.34 71.316 354.68"/><polygon points="349.14 125.54 118.98 355.69 106.54 343.25 336.7 113.09 324.26 100.65 81.659 343.25 168.75 430.34 411.35 187.74"/></svg>');
  /* Image source: http://simpleicon.com/ */
  position: absolute; top: 0px; right: 0px; width: 18px; height: 18px; z-index: 500;
}
TD.lt-notsaved { background-color: #ffa0a0 }
.lt-required { background-color: rgb(255,220,220); }

TABLE.lt-table TBODY:empty { display: none; }
TABLE.lt-table TEXTAREA { box-sizing: border-box; max-height: 200px; min-height: 20px; overflow-x: hidden; }
TABLE.lt-table TEXTAREA.insert { min-height: 40px; }
.lt-notransition { transition: none !important; }
INPUT.lt-delete {
  background:linear-gradient(to bottom, #909090 5%, #505050 100%); background-color:#909090;
  border:1px solid #909090; border-radius:6px;
  color:#ffffff; font-size:11px !important; font-weight:bold; cursor:pointer;
  margin: 0px 0px !important; padding: 1px 4px 2px 4px !important;
}
INPUT.lt-delete:hover { background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%); background-color:#909090; border:1px solid #fe1a00; }

INPUT.lt-tableaction { float: right; margin-left: 5px; }
INPUT.lt-add-option { margin-left: 5px; }

DIV.lt-search-form { display: grid; grid-template-columns: repeat(3, auto); justify-items: start; align-items: center; grid-column-gap: 0.5rem; grid-row-gap: 0.5rem; align-items: start; }
DIV.lt-search-form > INPUT { justify-self: stretch; }
DIV.lt-search-form-radio { border-left: solid lightgrey 1px; }
SELECT.lt-search-form-select { width: 100%; }
DIV.lt-search-form-buttons { grid-column: 1 / 4; }
DIV.lt-search-form-buttons > *:not(:first-child):not(select) { margin-left: 10px; }

DIV.lt-edit-search { position: relative; }
DIV.lt-edit-search-results { z-index: 1000; position: absolute; width: 30rem; background-color: white; border: solid black 1px; }
DIV.lt-edit-search-results:empty { display: none; }
DIV.lt-edit-search-results > * { padding: 5px; cursor: pointer; }
DIV.lt-edit-search-results > *:hover { background-color: lightgrey; }
DIV.lt-edit-search-results > *:not(:first-child) { border-top: solid black 1px; }
DIV.lt-edit-search-results-message { font-style: italic; }

.lt-switch { position: relative; margin-left: 10px; }
.lt-switch-input { display: none; }
.lt-switch-label { display: block; width: 48px; height: 24px; }
.lt-switch-label::before,.lt-switch-label::after { content: ""; display: block; position: absolute; cursor: pointer; }
.lt-switch-label::before { width: 38px; height: 24px; background-color: #dedede; border-radius: 9em; transition: background-color 0.25s ease; }
.lt-switch-label::after { width: 24px; height: 24px; border-radius: 50%; background-color: #fff; box-shadow: 0 0 2px rgba(0, 0, 0, 0.45); transition: left 0.25s ease; }
.lt-switch-input:checked + .lt-switch-label::before { background-color: #89c12d; }
.lt-switch-input:checked + .lt-switch-label::after { left: 24px; }
